src/main/resources/search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2013 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://marklogic.com/appservices/search" xmlns:search="http://marklogic.com/appservices/search">
  <!--
    Notice: The *.rnc are the normative human-edited versions
    Do not directly edit the *.xsd versions, any changes will be lost when rebuilding
    To rebuild, download trang from relaxng.org, and run
    java -jar path/to/trang.jar filename.rnc filename.xsd
  -->
  <!-- Root element -->
  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="search:additional-query"/>
      <xs:element ref="search:annotation"/>
      <xs:element ref="search:concurrency-level"/>
      <xs:element ref="search:constraint"/>
      <xs:element ref="search:debug"/>
      <xs:element ref="search:default-suggestion-source"/>
      <xs:element ref="search:fragment-scope"/>
      <xs:element ref="search:forest"/>
      <xs:element ref="search:grammar"/>
      <xs:element ref="search:operator"/>
      <xs:element ref="search:page-length"/>
      <xs:element ref="search:quality-weight"/>
      <xs:element ref="search:return-constraints"/>
      <xs:element ref="search:return-facets"/>
      <xs:element ref="search:return-metrics"/>
      <xs:element ref="search:return-plan"/>
      <xs:element ref="search:return-qtext"/>
      <xs:element ref="search:return-query"/>
      <xs:element ref="search:return-results"/>
      <xs:element ref="search:return-similar"/>
      <xs:element ref="search:search-option"/>
      <xs:element ref="search:searchable-expression"/>
      <xs:element ref="search:sort-order"/>
      <xs:element ref="search:suggestion-source"/>
      <xs:element ref="search:term"/>
      <xs:element ref="search:transform-results"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="options" type="search:OptionsType"/>
  <xs:element name="additional-query" type="search:any-cts-element"/>
  <xs:element name="anchor">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="value"/>
      <xs:attribute name="apply" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="at" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:any-element"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bucket">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="ge"/>
      <xs:attribute name="lt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="computed-bucket">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="ge"/>
      <xs:attribute name="lt"/>
      <xs:attribute name="anchor"/>
      <xs:attribute name="lt-anchor"/>
      <xs:attribute name="ge-anchor"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="constraint">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:constraint-type"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="constraint-type" abstract="true"/>
  <xs:element name="collection" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:facet-option"/>
      </xs:sequence>
      <xs:attribute name="prefix"/>
      <xs:attribute name="facet" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="concurrency-level" type="xs:unsignedInt"/>
  <xs:element name="custom" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parse"/>
        <xs:choice>
          <xs:element ref="search:start-facet"/>
          <xs:element ref="search:finish-facet"/>
        </xs:choice>
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="facet" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parse">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-facet">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="finish-facet">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geospatial" abstract="true" substitutionGroup="search:constraint-type"/>
  <xs:element name="geo-elem" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element name="element">
          <xs:complexType>
            <xs:attribute name="ns" use="required" type="xs:anyURI"/>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:heatmap"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="parent">
    <xs:complexType>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-elem-pair" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element ref="search:lat"/>
        <xs:element ref="search:lon"/>
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:heatmap"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="lat">
    <xs:complexType>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lon">
    <xs:complexType>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-attr-pair" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element ref="search:lat"/>
        <xs:element ref="search:lon"/>
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:heatmap"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="heatmap">
    <xs:complexType>
      <xs:attribute name="n" use="required" type="xs:double"/>
      <xs:attribute name="s" use="required" type="xs:double"/>
      <xs:attribute name="e" use="required" type="xs:double"/>
      <xs:attribute name="w" use="required" type="xs:double"/>
      <xs:attribute name="latdivs" use="required" type="xs:unsignedInt"/>
      <xs:attribute name="londivs" use="required" type="xs:unsignedInt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-option" type="xs:string"/>
  <xs:element name="debug" type="xs:boolean"/>
  <xs:element name="default-suggestion-source">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="search:constraint-type"/>
          <xs:element ref="search:word-lexicon"/>
        </xs:choice>
        <xs:element ref="search:suggestion-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="ref"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="element-query" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="facet-option" type="xs:string"/>
  <xs:element name="field">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="collation" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fragment-scope">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="properties"/>
        <xs:enumeration value="documents"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="forest" type="xs:unsignedLong"/>
  <xs:element name="grammar">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:quotation"/>
        <xs:element ref="search:implicit"/>
        <xs:element ref="search:joiner"/>
        <xs:element ref="search:starter"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="quotation" type="xs:string"/>
  <xs:element name="implicit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="search:any-cts-element">
          <xs:attribute name="options"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="joiner">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:apply-attrs"/>
      <xs:attribute name="strength" use="required" type="xs:int"/>
      <xs:attribute name="element" type="xs:QName"/>
      <xs:attribute name="options"/>
      <xs:attribute name="tokenize">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="word"/>
            <xs:enumeration value="default"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="compare"/>
      <xs:attribute name="consume" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="starter">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:apply-attrs"/>
      <xs:attribute name="strength" use="required" type="xs:int"/>
      <xs:attribute name="element" type="xs:QName"/>
      <xs:attribute name="options"/>
      <xs:attribute name="delimiter"/>
      <xs:attribute name="tokenize">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="word"/>
            <xs:enumeration value="default"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:state"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="state">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:additional-query"/>
        <xs:element ref="search:annotation"/>
        <xs:element ref="search:debug"/>
        <xs:element ref="search:forest"/>
        <xs:element ref="search:page-length"/>
        <xs:element ref="search:quality-weight"/>
        <xs:element ref="search:search-option"/>
        <xs:element ref="search:searchable-expression"/>
        <xs:element ref="search:sort-order"/>
        <xs:element ref="search:transform-results"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="page-length" type="xs:unsignedInt"/>
  <xs:element name="properties" substitutionGroup="search:constraint-type">
    <xs:complexType/>
  </xs:element>
  <xs:element name="quality-weight" type="xs:double"/>
  <xs:element name="range" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:element ref="search:element"/>
            <xs:element ref="search:attribute"/>
            <xs:element ref="search:fragment-scope"/>
          </xs:choice>
          <xs:element ref="search:field"/>
        </xs:choice>
        <xs:element ref="search:anchor"/>
        <xs:element ref="search:bucket"/>
        <xs:element ref="search:computed-bucket"/>
        <xs:element ref="search:facet-option"/>
      </xs:choice>
      <xs:attribute name="type" use="required" type="xs:QName"/>
      <xs:attribute name="collation" type="xs:anyURI"/>
      <xs:attribute name="facet" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="return-constraints" type="xs:boolean"/>
  <xs:element name="return-facets" type="xs:boolean"/>
  <xs:element name="return-metrics" type="xs:boolean"/>
  <xs:element name="return-plan" type="xs:boolean"/>
  <xs:element name="return-qtext" type="xs:boolean"/>
  <xs:element name="return-query" type="xs:boolean"/>
  <xs:element name="return-results" type="xs:boolean"/>
  <xs:element name="return-similar" type="xs:boolean"/>
  <xs:element name="searchable-expression" type="xs:string"/>
  <xs:element name="search-option" type="xs:string"/>
  <xs:element name="sort-order">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:element"/>
        <xs:element ref="search:field"/>
        <xs:element ref="search:attribute"/>
        <xs:element ref="search:score"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="type"/>
      <xs:attribute name="collation" type="xs:anyURI"/>
      <xs:attribute name="direction">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ascending"/>
            <xs:enumeration value="descending"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="score">
    <xs:complexType/>
  </xs:element>
  <xs:element name="suggestion-option" type="xs:string"/>
  <xs:element name="suggestion-source">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="search:constraint-type"/>
          <xs:element ref="search:word-lexicon"/>
        </xs:choice>
        <xs:element ref="search:suggestion-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="ref" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:empty"/>
        <xs:element ref="search:weight"/>
      </xs:choice>
      <xs:attribute name="apply" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="at" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="empty">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term-option" type="xs:string"/>
  <xs:element name="transform-results">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:any-element"/>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:element ref="search:element"/>
            <xs:element ref="search:attribute"/>
            <xs:element ref="search:fragment-scope"/>
          </xs:choice>
          <xs:element ref="search:field"/>
        </xs:choice>
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:weight"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="weight" type="xs:double"/>
  <xs:element name="word" substitutionGroup="search:constraint-type">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:element ref="search:element"/>
            <xs:element ref="search:attribute"/>
            <xs:element ref="search:fragment-scope"/>
          </xs:choice>
          <xs:element ref="search:field"/>
        </xs:choice>
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:weight"/>
      </xs:choice>
      <xs:attribute name="collation" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="word-lexicon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:fragment-scope"/>
      </xs:sequence>
      <xs:attribute name="collation" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="any-element">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="any-attribute">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="any-nonsearch-element">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="any-cts-element">
    <xs:sequence>
      <xs:any namespace="http://marklogic.com/cts" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:attributeGroup name="apply-attrs">
    <xs:attribute name="apply" use="required" type="xs:NCName"/>
    <xs:attribute name="ns" type="xs:anyURI"/>
    <xs:attribute name="at" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:simpleType name="qtext-token">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="facet" substitutionGroup="search:ResponseFacet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:facet-value"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="facet-value">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="count" use="required" type="xs:unsignedInt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="boxes" substitutionGroup="search:ResponseFacet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="box">
          <xs:complexType>
            <xs:attribute name="count" use="required" type="xs:unsignedInt"/>
            <xs:attribute name="s" use="required" type="xs:double"/>
            <xs:attribute name="w" use="required" type="xs:double"/>
            <xs:attribute name="n" use="required" type="xs:double"/>
            <xs:attribute name="e" use="required" type="xs:double"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseFacet" abstract="true"/>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:result"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:ResponseFacet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="qtext" type="xs:string"/>
        <xs:element minOccurs="0" name="query" type="search:any-cts-element"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:constraint"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:warning"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:report"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:plan"/>
        <xs:element ref="search:metrics"/>
      </xs:sequence>
      <xs:attribute name="total" use="required" type="xs:unsignedInt"/>
      <xs:attribute name="start" use="required" type="xs:unsignedInt"/>
      <xs:attribute name="page-length" use="required" type="xs:unsignedInt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:snippet"/>
      </xs:sequence>
      <xs:attribute name="index" use="required" type="xs:unsignedInt"/>
      <xs:attribute name="uri" use="required"/>
      <xs:attribute name="path" use="required"/>
      <xs:attribute name="score" use="required" type="xs:integer"/>
      <xs:attribute name="confidence" use="required" type="xs:double"/>
      <xs:attribute name="fitness" use="required" type="xs:double"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="snippet">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:match"/>
        <xs:group ref="search:any-nonsearch-element"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="match">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:highlight"/>
      </xs:sequence>
      <xs:attribute name="path" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="highlight" type="xs:string"/>
  <xs:element name="warning">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="report">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="name"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="plan">
    <xs:complexType>
      <xs:group ref="search:any-element"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metrics">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" ref="search:query-resolution-time"/>
        <xs:element minOccurs="0" ref="search:facet-resolution-time"/>
        <xs:element minOccurs="0" ref="search:snippet-resolution-time"/>
        <xs:element ref="search:total-time"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-resolution-time" type="xs:duration"/>
  <xs:element name="facet-resolution-time" type="xs:duration"/>
  <xs:element name="snippet-resolution-time" type="xs:duration"/>
  <xs:element name="total-time" type="xs:duration"/>
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:operator-state"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:qtext"/>
        <xs:element ref="search:annotation"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator-state">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:operator-name"/>
        <xs:element ref="search:state-name"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator-name" type="search:qtext-token"/>
  <xs:element name="state-name" type="search:qtext-token"/>
  <xs:element name="qtext">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryType" abstract="true"/>
  <xs:element name="and-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" ref="search:ordered"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ordered" type="xs:boolean"/>
  <xs:element name="or-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="and-not-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:positive-query"/>
        <xs:element ref="search:negative-query"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="positive-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="negative-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="not-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="near-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" ref="search:ordered"/>
        <xs:element minOccurs="0" ref="search:distance"/>
        <xs:element minOccurs="0" ref="search:distance-weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="distance" type="xs:integer"/>
  <xs:element name="distance-weight" type="xs:double"/>
  <xs:element name="document-fragment-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="locks-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="directory-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:uri"/>
        <xs:element minOccurs="0" ref="search:infinite"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uri" type="xs:string"/>
  <xs:element name="infinite" type="xs:boolean"/>
  <xs:element name="document-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:uri"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:uri"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="constraint-name" type="search:qtext-token"/>
  <xs:element name="element-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:uri"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="word-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="range-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string"/>
        <xs:element minOccurs="0" ref="search:range-operator"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="range-operator">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="LT"/>
        <xs:enumeration value="LE"/>
        <xs:enumeration value="GT"/>
        <xs:enumeration value="GE"/>
        <xs:enumeration value="EQ"/>
        <xs:enumeration value="NE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="geospatial-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="point">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:latitude"/>
        <xs:element ref="search:longitude"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="latitude" type="xs:float"/>
  <xs:element name="longitude" type="xs:float"/>
  <xs:element name="circle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:radius"/>
        <xs:element ref="search:point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="radius" type="xs:float"/>
  <xs:element name="box">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:south"/>
        <xs:element ref="search:west"/>
        <xs:element ref="search:north"/>
        <xs:element ref="search:east"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="south" type="xs:float"/>
  <xs:element name="west" type="xs:float"/>
  <xs:element name="north" type="xs:float"/>
  <xs:element name="east" type="xs:float"/>
  <xs:element name="polygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="RegionType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:point"/>
        <xs:element ref="search:circle"/>
        <xs:element ref="search:box"/>
        <xs:element ref="search:polygon"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="custom-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
