marklogic-client-api/src/test/resources/query-plan.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright © 2024 MarkLogic Corporation. All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/cts/query"
 xmlns="http://marklogic.com/cts/query"
 xmlns:err="http://marklogic.com/xdmp/error"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:admin="http://marklogic.com/xdmp/admin"
 elementFormDefault="qualified">
  <!-- Note that the queries in here are internal, they are what
       cts/xdmp::plan digest user-queries down into. Despite some queries
       being in common with the user ones in cts.xsd, conceptually these are
       disjoint. -->

  <xs:import namespace="http://marklogic.com/xdmp/error"
             schemaLocation="error.xsd"/>

  <xs:element name="query-plan" type="query-plan"/>
  <xs:element name="relevance-info" type="relevance-info"/>

  <xs:complexType name="query-plan">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="trace"/>
        <xs:element ref="plan"/>
        <xs:element ref="true-fact"/>
        <xs:element ref="ordering"/>
      </xs:choice>
      <xs:element ref="result" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="plan" abstract="true" type="plan"/>

  <xs:element name="intermediate-plan" type="plan" substitutionGroup="plan"/>

  <xs:element name="partial-plan" type="plan" substitutionGroup="plan"/>

  <xs:element name="final-plan" type="plan" substitutionGroup="plan"/>

  <xs:complexType name="plan" mixed="false">
    <xs:sequence>
      <xs:element ref="query"/>
    </xs:sequence>
    <xs:attribute name="elapsed-time" type="xs:dateTime"/>
  </xs:complexType>

  <xs:element name="true-fact">
    <xs:complexType>
      <xs:sequence>
      <xs:element ref="node"/>
      <xs:element ref="key"/>
      <xs:element ref="annotation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="result">
    <xs:complexType>
      <xs:sequence/>
      <xs:attribute name="estimate" type="xs:unsignedLong"/>
      <xs:attribute name="elapsed-time" type="xs:dayTimeDuration"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="query" abstract="true" type="query"/>

  <xs:complexType name="query" mixed="false">
    <xs:sequence/>
  </xs:complexType>

  <xs:element name="term-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
          <xs:sequence>
            <xs:element ref="key"/>
            <xs:element ref="annotation"/>
          </xs:sequence>
          <xs:attribute name="weight" type="xs:double"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="value-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="timestamp-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="reverse-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
          <xs:sequence>
            <xs:any processContents="skip"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="word-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="KP" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="distance-weight" type="xs:double" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="KP">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="annotation"/>
      </xs:sequence>
      <xs:attribute name="pos" type="xs:integer" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="multi-qname-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element ref="annotation"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="ordered" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-two-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="ordered" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="boost-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-three-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="ordered" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="or-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="distance-weight" type="xs:double" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="or-two-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="distance-weight" type="xs:double" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="or-three-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="distance-weight" type="xs:double" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-not-two-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="not-in-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-uri-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="dockind" type="dockind"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and-not-uri-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="dockind" type="dockind"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="near-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="ordered" type="xs:boolean"/>
           <xs:attribute name="distance" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="near-two-queries" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="query"/>
             <xs:element ref="query"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="ordered" type="xs:boolean"/>
           <xs:attribute name="distance" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="element-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element ref="annotation"/>
             <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="registered-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="range-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="lower-bound"/>
             <xs:element ref="upper-bound"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="scatter-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="box-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="circle-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="circle" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="polygon-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="polygon" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="min-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="max-occurs" type="xs:integer" use="optional"/>
           <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="triple-query" substitutionGroup="query">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element ref="predicate" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element ref="object" minOccurs="0" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
           <xs:attribute name="hasPos" type="xs:boolean" use="optional"/>
           <xs:attribute name="score-function" type="score-function" use="optional"/>
           <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
           <xs:attribute name="subject-operator" type="triple-operator"/>
           <xs:attribute name="predicate-operator" type="triple-operator"/>
           <xs:attribute name="object-operator" type="triple-operator"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="region" type="xs:string"/>

  <xs:element name="geohashes" type="geohashes">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="geohashes">
    <xs:sequence>
      <xs:element ref="boundary-geohash" maxOccurs="unbounded"/>
      <xs:element ref="interior-geohash" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="exterior-geohash" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="query-region" type="query-region">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="query-region">
    <xs:sequence>
      <xs:element ref="region"/>
      <xs:element ref="geohashes" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="definite-matches" type="matches-type">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="possible-matches" type="matches-type">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="matches-type">
    <xs:sequence>
      <xs:element ref="or-query"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="geohash-region-query" substitutionGroup="query">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="de9im-operation"/>
             <xs:element ref="query-region" maxOccurs="unbounded"/>
             <xs:element ref="geo-context"/>
             <xs:element ref="definite-matches"/>
             <xs:element ref="possible-matches"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="geospatial-region-query" substitutionGroup="query">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="query">
           <xs:sequence>
             <xs:element ref="key"/>
             <xs:element ref="annotation"/>
             <xs:element ref="de9im-operation"/>
             <xs:element ref="query-region" maxOccurs="unbounded"/>
             <xs:element ref="geo-context"/>
           </xs:sequence>
           <xs:attribute name="weight" type="xs:double"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="coordinate-system" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="units" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="tolerance" type="xs:double">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="geo-context">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="coordinate-system"/>
        <xs:element ref="units"/>
        <xs:element ref="tolerance"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="geohash" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="slice" type="slice">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="slice">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="projected" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="bbox" type="xs:string"/>

  <xs:element name="boundary-geohash">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="geohash"/>
        <xs:element ref="slice"/>
		<xs:element ref="bbox"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="interior-geohash">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="geohash"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="exterior-geohash">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element ref="geohash"/>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>

  <xs:element name="de9im-operation" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
        <admin:introduced-version>9000400</admin:introduced-version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="key" type="xs:unsignedLong"/>
  <xs:element name="annotation" type="xs:string"/>
  <xs:element name="node" type="xs:string"/>

  <xs:simpleType name="hex">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0123456789abcdefABCDEF]{16}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dockind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="any"/>
      <xs:enumeration value="document"/>
      <xs:enumeration value="lock"/>
      <xs:enumeration value="properties"/>
      <xs:enumeration value="???"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="score-function">
    <xs:restriction base="xs:string">
      <xs:enumeration value="zero"/>
      <xs:enumeration value="linear"/>
      <xs:enumeration value="reciprocal"/>
      <xs:enumeration value="???"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="lower-bound" type="bound" nillable="true"/>
  <xs:element name="upper-bound" type="bound" nillable="true"/>

  <xs:element name="value" type="xs:anySimpleType" nillable="true"/>

  <xs:complexType name="bound">
    <xs:simpleContent>
      <xs:extension base="xs:anySimpleType">
        <xs:attribute name="open" type="xs:boolean" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="circle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="region"/>
        <xs:element ref="bbox" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="polygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="region"/>
        <xs:element ref="bbox" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subject" type="rdftype"/>
  <xs:element name="predicate" type="rdftype"/>
  <xs:element name="object" type="rdftype"/>

  <xs:complexType name="rdftype">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="datatype" type="xs:anyURI" use="optional"/>
        <xs:attribute name="lang" type="xs:language" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="triple-operator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="="/>
      <xs:enumeration value="!="/>
      <xs:enumeration value="&lt;"/>
      <xs:enumeration value="&lt;="/>
      <xs:enumeration value="&gt;"/>
      <xs:enumeration value="&gt;="/>
      <xs:enumeration value="sameTerm"/>
      <xs:enumeration value="bloom"/>
      <xs:enumeration value="??"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="trace" abstract="true" type="trace"/>

  <xs:complexType name="trace" mixed="true">
    <xs:sequence minOccurs="0"/>
  </xs:complexType>

  <xs:complexType name="element-only-trace">
    <xs:complexContent mixed="false">
      <xs:restriction base="trace"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="expansion-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
          <xs:sequence>
            <xs:element ref="interval" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="expansion" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="text" type="xs:string"/>
          <xs:attribute name="counts" type="xs:string"/>
          <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="info-trace">
    <xs:simpleContent>
      <xs:restriction base="trace">
        <xs:simpleType>
<!-- XercesImpl has a hiccup
          <xs:restriction base="xs:anyAtomicType"/>
  -->
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="info-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="info-trace">
          <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="expr-trace">
    <xs:simpleContent>
      <xs:restriction base="trace">
        <xs:simpleType>
<!-- XercesImpl has a hiccup
          <xs:restriction base="xs:anyAtomicType"/>
  -->
          <xs:restriction base="xs:string"/>
        </xs:simpleType>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="expr-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="expr-trace">
          <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="error-trace" substitutionGroup="trace">
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="trace">
          <xs:sequence>
            <xs:element ref="err:error"/>
          </xs:sequence>
          <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="word-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
          <xs:sequence>
            <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="text" type="xs:string"/>
          <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="word-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="char-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="field-word-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="field-name" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="field-value-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="field-name" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="field-word-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="field-name" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="field-char-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="field-name" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elem-word-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="elem-name" type="xs:NCName"/>
           <xs:attribute name="elem-uri" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elem-word-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="elem-name" type="xs:NCName"/>
           <xs:attribute name="elem-uri" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elem-char-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="elem-name" type="xs:NCName"/>
           <xs:attribute name="elem-uri" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elem-attr-word-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="elem-name" type="xs:NCName"/>
           <xs:attribute name="elem-uri" type="xs:string"/>
           <xs:attribute name="attr-name" type="xs:NCName"/>
           <xs:attribute name="attr-uri" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="elem-attr-word-pair-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="elem-name" type="xs:NCName"/>
           <xs:attribute name="elem-uri" type="xs:string"/>
           <xs:attribute name="attr-name" type="xs:NCName"/>
           <xs:attribute name="attr-uri" type="xs:string"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="lexicon-word-trace" substitutionGroup="trace">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="element-only-trace">
           <xs:sequence>
             <xs:element ref="key" minOccurs="1" maxOccurs="unbounded"/>
           </xs:sequence>
           <xs:attribute name="field-name" type="xs:string" use="optional"/>
           <xs:attribute name="elem-name" type="xs:NCName" use="optional"/>
           <xs:attribute name="elem-uri" type="xs:string" use="optional"/>
           <xs:attribute name="attr-name" type="xs:NCName" use="optional"/>
           <xs:attribute name="attr-uri" type="xs:string" use="optional"/>
           <xs:attribute name="text" type="xs:string"/>
           <xs:attribute name="elapsed-time" type="xs:dateTime"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="expansion">
    <xs:complexType>
      <xs:attribute name="text" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="interval">
    <xs:complexType>
      <xs:attribute name="lowerbound" type="xs:string"/>
      <xs:attribute name="upperbound" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="relevance-info">
    <xs:sequence>
      <xs:element ref="score"/>
      <xs:element ref="confidence"/>
      <xs:element ref="fitness"/>
      <xs:element ref="uri"/>
      <xs:element ref="path"/>
      <xs:element ref="relevance-clause"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="uri" type="xs:string"/>

  <xs:element name="path" type="xs:string"/>

  <xs:element name="relevance-clause" type="relevance-clause" abstract="true"/>

  <xs:complexType name="relevance-clause">
    <xs:sequence/>
  </xs:complexType>

  <xs:element name="term" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="key"/>
            <xs:element ref="annotation" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="weight" type="xs:float" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="range" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="key"/>
            <xs:element ref="annotation" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="weight" type="xs:float" use="optional"/>
          <xs:attribute name="type" type="xs:string" use="required"/>
          <xs:attribute name="score-function" type="xs:string" use="required"/>
          <xs:attribute name="slope-factor" type="xs:double" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="and" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="relevance-clause" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="or" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="relevance-clause" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
          <xs:attribute name="distance-weight" type="xs:float" use="optional"/>
          <xs:attribute name="distance" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="word" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="relevance-clause" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="synonym" type="xs:boolean" use="optional"/>
          <xs:attribute name="distance-weight" type="xs:float" use="optional"/>
          <xs:attribute name="distance" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="near" substitutionGroup="relevance-clause">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="relevance-clause">
          <xs:sequence>
            <xs:element ref="score"/>
            <xs:element ref="relevance-clause" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="distance-weight" type="xs:float" use="optional"/>
          <xs:attribute name="distance" type="xs:integer" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="score">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="formula" type="xs:string" use="required"/>
          <xs:attribute name="computation" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="confidence">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:double">
          <xs:attribute name="formula" type="xs:string" use="required"/>
          <xs:attribute name="computation" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="fitness">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:double">
          <xs:attribute name="formula" type="xs:string" use="required"/>
          <xs:attribute name="computation" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="clause">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="key" minOccurs="0"/>
        <xs:element ref="annotation" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="kind" type="order-kind" use="required"/>
      <xs:attribute name="descending" type="xs:boolean" use="optional"/>
      <xs:attribute name="scalar-type" type="scalar-type" use="optional"/>
      <xs:attribute name="collation" type="xs:anyURI" use="optional"/>
      <xs:attribute name="coordinate-system" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ordering">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="clause"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="order-kind">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="document"/>
      <xs:enumeration value="score"/>
      <xs:enumeration value="confidence"/>
      <xs:enumeration value="fitness"/>
      <xs:enumeration value="quality"/>
      <xs:enumeration value="index"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="scalar-type">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="int"/>
      <xs:enumeration value="unsignedInt"/>
      <xs:enumeration value="long"/>
      <xs:enumeration value="unsignedLong"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="decimal"/>
      <xs:enumeration value="dateTime"/>
      <xs:enumeration value="time"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="gYearMonth"/>
      <xs:enumeration value="gYear"/>
      <xs:enumeration value="gMonth"/>
      <xs:enumeration value="gDay"/>
      <xs:enumeration value="yearMonthDuration"/>
      <xs:enumeration value="dayTimeDuration"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="anyURI"/>
      <xs:enumeration value="point"/>
      <xs:enumeration value="long-lat-point"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
