src/test/resources/search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2016 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://marklogic.com/appservices/search" xmlns:search="http://marklogic.com/appservices/search">
  <!--
    Notice: The *.rnc are the normative human-edited versions
    Do not directly edit the *.xsd versions, any changes will be lost when rebuilding
    To rebuild, download trang from relaxng.org, and run
    java -jar path/to/trang.jar filename.rnc filename.xsd
  -->
  <!-- Root element -->
  <xs:complexType name="OptionsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="search:additional-query"/>
      <xs:element ref="search:annotation"/>
      <xs:element ref="search:concurrency-level"/>
      <xs:element ref="search:constraint"/>
      <xs:element ref="search:ValuesAccessor"/>
      <xs:element ref="search:debug"/>
      <xs:element ref="search:default-suggestion-source"/>
      <xs:element ref="search:extract-metadata"/>
      <xs:element ref="search:extract-document-data"/>
      <xs:element ref="search:fragment-scope"/>
      <xs:element ref="search:forest"/>
      <xs:element ref="search:grammar"/>
      <xs:element ref="search:operator"/>
      <xs:element ref="search:page-length"/>
      <xs:element ref="search:quality-weight"/>
      <xs:element ref="search:return-aggregates"/>
      <xs:element ref="search:return-constraints"/>
      <xs:element ref="search:return-facets"/>
      <xs:element ref="search:return-frequencies"/>
      <xs:element ref="search:return-metrics"/>
      <xs:element ref="search:return-plan"/>
      <xs:element ref="search:return-qtext"/>
      <xs:element ref="search:return-query"/>
      <xs:element ref="search:return-results"/>
      <xs:element ref="search:return-similar"/>
      <xs:element ref="search:return-values"/>
      <xs:element ref="search:result-decorator"/>
      <xs:element ref="search:search-option"/>
      <xs:element ref="search:searchable-expression"/>
      <xs:element ref="search:sort-order"/>
      <xs:element ref="search:suggestion-source"/>
      <xs:element ref="search:term"/>
      <xs:element ref="search:transform-results"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="options" type="search:OptionsType"/>
  <xs:element name="additional-query" type="search:any-cts-element"/>
  <xs:element name="anchor">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="value"/>
      <xs:attribute name="apply" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="at" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:any-element"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bucket">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="ge"/>
      <xs:attribute name="lt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="computed-bucket">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="ge"/>
      <xs:attribute name="lt"/>
      <xs:attribute name="anchor"/>
      <xs:attribute name="lt-anchor"/>
      <xs:attribute name="ge-anchor"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="constraint">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:constraint-type"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="constraint-value">
    <xs:complexType mixed="true">
      <xs:attribute name="ref"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="constraint-type">
    <xs:choice>
      <xs:element ref="search:collection"/>
      <xs:group ref="search:Value"/>
      <xs:element ref="search:range"/>
      <xs:element ref="search:word"/>
      <xs:element ref="search:element-query"/>
      <xs:element ref="search:container"/>
      <xs:element ref="search:properties"/>
      <xs:element ref="search:custom"/>
      <xs:element ref="search:Geospatial"/>
    </xs:choice>
  </xs:group>
  <xs:element name="collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:facet-option"/>
      </xs:sequence>
      <xs:attribute name="prefix"/>
      <xs:attribute name="facet" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="concurrency-level" type="xs:unsignedInt"/>
  <xs:element name="custom">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parse"/>
        <xs:choice>
          <xs:element ref="search:start-facet"/>
          <xs:element ref="search:finish-facet"/>
        </xs:choice>
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="facet" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parse">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-facet">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="finish-facet">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="extract-metadata">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:constraint-value"/>
        <xs:element ref="search:qname"/>
        <xs:element ref="search:json-property"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="extract-document-data">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:extract-path"/>
      </xs:choice>
      <xs:attribute name="selected">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="all"/>
            <xs:enumeration value="include"/>
            <xs:enumeration value="include-with-ancestors"/>
            <xs:enumeration value="exclude"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="extract-path" type="xs:token"/>
  <xs:element name="Geospatial" abstract="true"/>
  <xs:group name="GeoPropDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent-property"/>
        <xs:element ref="search:json-property"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="parent-property" type="xs:string"/>
  <xs:element name="geo-json-property" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoPropDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoElemDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element name="element">
          <xs:complexType>
            <xs:attribute name="ns" type="xs:anyURI"/>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="parent">
    <xs:complexType>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-elem" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoElemDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoPropPairDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent-property"/>
        <xs:element ref="search:lat-property"/>
        <xs:element ref="search:lon-property"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="lat-property" type="xs:string"/>
  <xs:element name="lon-property" type="xs:string"/>
  <xs:element name="geo-json-property-pair" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoPropPairDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoElemPairDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element ref="search:lat"/>
        <xs:element ref="search:lon"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="lat">
    <xs:complexType>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lon">
    <xs:complexType>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-elem-pair" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoElemPairDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoAttrPairDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:parent"/>
        <xs:element ref="search:lat"/>
        <xs:element ref="search:lon"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="geo-attr-pair" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoAttrPairDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoPathDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:path-index"/>
        <xs:element ref="search:geo-option"/>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="path-index" type="xs:string"/>
  <xs:element name="geo-path" substitutionGroup="search:Geospatial">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:GeoPathDef"/>
        <xs:group ref="search:GeoFacetDef"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="GeoFacetDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:facet-option"/>
        <xs:element ref="search:heatmap"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="heatmap">
    <xs:complexType>
      <xs:attribute name="n" use="required" type="xs:double"/>
      <xs:attribute name="s" use="required" type="xs:double"/>
      <xs:attribute name="e" use="required" type="xs:double"/>
      <xs:attribute name="w" use="required" type="xs:double"/>
      <xs:attribute name="latdivs" use="required" type="xs:unsignedInt"/>
      <xs:attribute name="londivs" use="required" type="xs:unsignedInt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-option" type="xs:string"/>
  <xs:element name="debug" type="xs:boolean"/>
  <xs:element name="default">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="search:word"/>
          <xs:group ref="search:Value"/>
          <xs:element ref="search:range"/>
        </xs:choice>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="ref"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="default-suggestion-source">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="search:constraint-type"/>
          <xs:element ref="search:word-lexicon"/>
        </xs:choice>
        <xs:element ref="search:suggestion-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="ref"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="AnySimpleType">
    <xs:union memberTypes="xs:string xs:boolean xs:decimal xs:float xs:double xs:duration xs:dateTime xs:time xs:date xs:gYearMonth xs:gYear xs:gMonthDay xs:gDay xs:gMonth xs:hexBinary xs:base64Binary xs:anyURI xs:QName"/>
  </xs:simpleType>
  <xs:group name="DistinctValue">
    <xs:sequence>
      <xs:element name="distinct-value">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="search:AnySimpleType">
              <xs:attribute name="frequency" type="xs:unsignedLong"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="TuplesDistinctValue">
    <xs:sequence>
      <xs:element name="distinct-value" type="search:AnySimpleType"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="Element">
    <xs:sequence>
      <xs:element name="element">
        <xs:complexType>
          <xs:attribute name="name" use="required" type="xs:NCName"/>
          <xs:attribute name="ns" type="xs:anyURI"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="container">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:group ref="search:Element"/>
          <xs:element ref="search:json-property"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="search:fragment-scope"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- deprecated -->
  <xs:element name="element-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:fragment-scope"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="facet-option" type="xs:string"/>
  <xs:element name="field">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="collation" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fragment-scope">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="properties"/>
        <xs:enumeration value="documents"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="forest" type="xs:unsignedLong"/>
  <xs:element name="grammar">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:quotation"/>
        <xs:element ref="search:implicit"/>
        <xs:element ref="search:joiner"/>
        <xs:element ref="search:starter"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="quotation" type="xs:string"/>
  <xs:element name="implicit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="search:any-cts-element">
          <xs:attribute name="options"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="joiner">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:apply-attrs"/>
      <xs:attribute name="strength" use="required" type="xs:int"/>
      <xs:attribute name="element" type="xs:QName"/>
      <xs:attribute name="options"/>
      <xs:attribute name="tokenize">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="word"/>
            <xs:enumeration value="default"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="compare"/>
      <xs:attribute name="consume" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="starter">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:apply-attrs"/>
      <xs:attribute name="strength" use="required" type="xs:int"/>
      <xs:attribute name="element" type="xs:QName"/>
      <xs:attribute name="options"/>
      <xs:attribute name="delimiter"/>
      <xs:attribute name="tokenize">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="word"/>
            <xs:enumeration value="default"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="json-property" type="xs:string"/>
  <xs:element name="ValuesAccessor" abstract="true">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="search:collection"/>
          <xs:element ref="search:uri"/>
          <xs:element ref="search:range"/>
          <xs:element ref="search:field"/>
          <xs:element ref="search:Geospatial"/>
        </xs:choice>
        <xs:element ref="search:aggregate"/>
        <xs:element ref="search:annotation"/>
        <xs:element ref="search:values-option"/>
      </xs:choice>
      <xs:attribute name="name"  use="required" type="search:qtext-token"/>
      <xs:attribute name="style" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="default"/>
            <xs:enumeration value="consistent"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="values" substitutionGroup="search:ValuesAccessor"/>
  <xs:element name="tuples" substitutionGroup="search:ValuesAccessor"/>
  <xs:element name="values-option" type="xs:string"/>
  <xs:element name="uri">
    <xs:complexType/>
  </xs:element>
  <xs:element name="aggregate">
    <xs:complexType>
      <xs:attribute name="apply" use="required" type="search:qtext-token"/>
      <xs:attribute name="udf" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:state"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="state">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:additional-query"/>
        <xs:element ref="search:annotation"/>
        <xs:element ref="search:debug"/>
        <xs:element ref="search:forest"/>
        <xs:element ref="search:page-length"/>
        <xs:element ref="search:quality-weight"/>
        <xs:element ref="search:search-option"/>
        <xs:element ref="search:searchable-expression"/>
        <xs:element ref="search:sort-order"/>
        <xs:element ref="search:transform-results"/>
      </xs:choice>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="page-length" type="xs:unsignedLong"/>
  <xs:element name="properties">
    <xs:complexType/>
  </xs:element>
  <xs:element name="qname">
    <xs:complexType>
      <xs:attribute name="elem-ns" type="xs:anyURI"/>
      <xs:attribute name="elem-name" use="required" type="xs:NCName"/>
      <xs:attribute name="attr-ns" type="xs:anyURI"/>
      <xs:attribute name="attr-name" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quality-weight" type="xs:double"/>
  <xs:group name="RangeIndexDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:group ref="search:Element"/>
            <xs:element ref="search:attribute"/>
          </xs:choice>
          <xs:element ref="search:json-property"/>
          <xs:element ref="search:field"/>
          <xs:element ref="search:path-index"/>
        </xs:choice>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="RangeFacetDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:anchor"/>
        <xs:element ref="search:bucket"/>
        <xs:element ref="search:computed-bucket"/>
        <xs:element ref="search:facet-option"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="range-option" type="xs:string"/>
  <xs:attributeGroup name="RangeIndexAttrs">
    <xs:attribute name="type" type="xs:QName"/>
    <xs:attribute name="collation" type="xs:anyURI"/>
    <xs:attribute name="nullable" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:element name="range">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:RangeIndexDef"/>
        <xs:group ref="search:RangeFacetDef"/>
        <xs:element ref="search:range-option"/>
      </xs:choice>
      <xs:attributeGroup ref="search:RangeIndexAttrs"/>
      <xs:attribute name="facet" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="return-aggregates" type="xs:boolean"/>
  <xs:element name="return-constraints" type="xs:boolean"/>
  <xs:element name="return-facets" type="xs:boolean"/>
  <xs:element name="return-frequencies" type="xs:boolean"/>
  <xs:element name="return-metrics" type="xs:boolean"/>
  <xs:element name="return-plan" type="xs:boolean"/>
  <xs:element name="return-qtext" type="xs:boolean"/>
  <xs:element name="return-query" type="xs:boolean"/>
  <xs:element name="return-results" type="xs:boolean"/>
  <xs:element name="return-similar" type="xs:boolean"/>
  <xs:element name="return-values" type="xs:boolean"/>
  <xs:element name="result-decorator">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchable-expression" type="xs:string"/>
  <xs:element name="search-option" type="xs:string"/>
  <xs:element name="sort-order">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:group ref="search:Element"/>
            <xs:element ref="search:attribute"/>
          </xs:choice>
          <xs:element ref="search:field"/>
          <xs:element ref="search:json-property"/>
        </xs:choice>
        <xs:element ref="search:score"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="type"/>
      <xs:attribute name="collation" type="xs:anyURI"/>
      <xs:attribute name="direction">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ascending"/>
            <xs:enumeration value="descending"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="score">
    <xs:complexType/>
  </xs:element>
  <xs:element name="suggestion-option" type="xs:string"/>
  <xs:element name="suggestion-source">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:group ref="search:constraint-type"/>
          <xs:element ref="search:word-lexicon"/>
        </xs:choice>
        <xs:element ref="search:suggestion-option"/>
        <xs:element ref="search:annotation"/>
      </xs:choice>
      <xs:attribute name="ref" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:fragment-scope"/>
        <xs:element ref="search:empty"/>
        <xs:element ref="search:default"/>
        <xs:element ref="search:weight"/>
      </xs:choice>
      <xs:attribute name="apply" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="at" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="empty">
    <xs:complexType>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term-option" type="xs:string"/>
  <xs:element name="transform-results">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:any-element"/>
      <xs:attributeGroup ref="search:apply-attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="TextIndexDef">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:choice>
            <xs:group ref="search:Element"/>
            <xs:element ref="search:attribute"/>
          </xs:choice>
          <xs:element ref="search:json-property"/>
          <xs:element ref="search:field"/>
        </xs:choice>
        <xs:element ref="search:fragment-scope"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="TextIndexMod">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:term-option"/>
        <xs:element ref="search:weight"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="Value">
    <xs:sequence>
      <xs:element name="value">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="search:TextIndexDef"/>
            <xs:group ref="search:TextIndexMod"/>
          </xs:choice>
          <xs:attributeGroup ref="search:ValueIndexAttrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="weight" type="xs:double"/>
  <xs:attributeGroup name="ValueIndexAttrs">
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="boolean"/>
          <xs:enumeration value="null"/>
          <xs:enumeration value="number"/>
          <xs:enumeration value="string"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="WordIndexAttrs">
    <xs:attribute name="collation" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:element name="word">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:TextIndexDef"/>
        <xs:group ref="search:TextIndexMod"/>
      </xs:choice>
      <xs:attributeGroup ref="search:WordIndexAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="word-lexicon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:fragment-scope"/>
      </xs:sequence>
      <xs:attribute name="collation" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="any-element">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="any-attribute">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="any-nonsearch-element">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="any-cts-element">
    <xs:sequence>
      <xs:any namespace="http://marklogic.com/cts" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="any-qry-element">
    <xs:sequence>
      <xs:any namespace="http://marklogic.com/cts/query" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="apply-attrs">
    <xs:attribute name="apply" use="required" type="xs:NCName"/>
    <xs:attribute name="ns" type="xs:anyURI"/>
    <xs:attribute name="at" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:simpleType name="qtext-token">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="facet" substitutionGroup="search:ResponseFacet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:facet-value"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="facet-value">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="count" use="required" type="xs:unsignedLong"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="boxes" substitutionGroup="search:ResponseFacet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="box">
          <xs:complexType>
            <xs:attribute name="count" use="required" type="xs:unsignedLong"/>
            <xs:attribute name="s" use="required" type="xs:double"/>
            <xs:attribute name="w" use="required" type="xs:double"/>
            <xs:attribute name="n" use="required" type="xs:double"/>
            <xs:attribute name="e" use="required" type="xs:double"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseFacet" abstract="true"/>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:result"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:ResponseFacet"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="qtext" type="xs:string"/>
        <xs:element minOccurs="0" name="query" type="search:any-cts-element"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:constraint"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:warning"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:report"/>
        <xs:element minOccurs="0" ref="search:plan"/>
        <xs:element name="metrics">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="0" ref="search:query-resolution-time"/>
              <xs:element minOccurs="0" ref="search:facet-resolution-time"/>
              <xs:element minOccurs="0" ref="search:snippet-resolution-time"/>
              <xs:element minOccurs="0" ref="search:metadata-resolution-time"/>
              <xs:element ref="search:total-time"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="snippet-format" type="xs:NCName"/>
      <xs:attribute name="total" type="xs:unsignedLong"/>
      <xs:attribute name="start" type="xs:unsignedLong"/>
      <xs:attribute name="page-length" type="xs:unsignedLong"/>
      <xs:attribute name="lsqt-query-timestamp" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:similar"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:snippet"/>
        <xs:element minOccurs="0" ref="search:metadata"/>
      </xs:sequence>
      <xs:attribute name="index" use="required" type="xs:unsignedLong"/>
      <xs:attribute name="uri" use="required"/>
      <xs:attribute name="path" use="required"/>
      <xs:attribute name="score" use="required" type="xs:integer"/>
      <xs:attribute name="confidence" use="required" type="xs:double"/>
      <xs:attribute name="fitness" use="required" type="xs:double"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="similar" type="xs:string"/>
  <xs:element name="snippet">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:match"/>
        <xs:group ref="search:any-nonsearch-element"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="match">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:highlight"/>
      </xs:sequence>
      <xs:attribute name="path" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="highlight" type="xs:string"/>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="search:any-nonsearch-element"/>
        <xs:element ref="search:constraint-meta"/>
        <xs:element ref="search:attribute-meta"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="constraint-meta">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribute-meta">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="ns" type="xs:anyURI"/>
      <xs:attribute name="parent-name" use="required" type="xs:NCName"/>
      <xs:attribute name="parent-ns" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="warning">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="report">
    <xs:complexType mixed="true">
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="name"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="plan">
    <xs:complexType>
      <xs:group ref="search:any-element"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-resolution-time" type="xs:duration"/>
  <xs:element name="facet-resolution-time" type="xs:duration"/>
  <xs:element name="snippet-resolution-time" type="xs:duration"/>
  <xs:element name="metadata-resolution-time" type="xs:duration"/>
  <xs:element name="total-time" type="xs:duration"/>
  <xs:element name="values-response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="search:types"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="search:DistinctValue"/>
          <xs:element ref="search:tuple"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:aggregate-result"/>
        <xs:element minOccurs="0" name="metrics">
          <xs:complexType>
            <xs:all>
              <xs:element minOccurs="0" ref="search:values-resolution-time"/>
              <xs:element minOccurs="0" ref="search:aggregate-resolution-time"/>
              <xs:element ref="search:total-time"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
      <xs:attribute name="type" type="xs:QName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="types">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:QName">
        <xs:minLength value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="aggregate-result">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="search:qtext-token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="values-resolution-time" type="xs:duration"/>
  <xs:element name="aggregate-resolution-time" type="xs:duration"/>
  <xs:element name="tuple">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="search:TuplesDistinctValue"/>
      <xs:attribute name="frequency" type="xs:unsignedLong"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="search:qtext"/>
        <xs:element minOccurs="0" ref="search:query"/>
        <xs:element minOccurs="0" ref="search:options"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:operator-state"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:annotation"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator-state">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:operator-name"/>
        <xs:element ref="search:state-name"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="operator-name" type="search:qtext-token"/>
  <xs:element name="state-name" type="search:qtext-token"/>
  <xs:element name="qtext" substitutionGroup="search:QueryType">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryType" abstract="true"/>
  <xs:element name="boost-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:matching-query"/>
        <xs:element ref="search:boosting-query"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="matching-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="boosting-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="and-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" ref="search:ordered"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ordered" type="xs:boolean"/>
  <xs:element name="or-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="and-not-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:positive-query"/>
        <xs:element ref="search:negative-query"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="positive-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="negative-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="not-in-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:positive-query"/>
        <xs:element ref="search:negative-query"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="not-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="near-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:QueryType"/>
        <xs:element minOccurs="0" ref="search:ordered"/>
        <xs:element minOccurs="0" ref="search:distance"/>
        <xs:element minOccurs="0" ref="search:distance-weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="distance" type="xs:integer"/>
  <xs:element name="distance-weight" type="xs:double"/>
  <xs:element name="document-fragment-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties-fragment-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="locks-fragment-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="directory-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="uri" type="xs:string"/>
        <xs:element minOccurs="0" ref="search:infinite"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="infinite" type="xs:boolean"/>
  <xs:element name="document-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="uri" type="xs:string"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="uri" type="xs:string"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" type="xs:string"/>
  <xs:element name="constraint-name" type="search:qtext-token"/>
  <xs:element name="container-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <!-- deprecated -->
  <xs:element name="element-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="container-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:group ref="search:Element"/>
          <xs:element ref="search:json-property"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="search:fragment-scope"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element ref="search:QueryType"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="collection-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="uri" type="xs:string"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:TextIndexDef"/>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        </xs:choice>
        <xs:group ref="search:TextIndexMod"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:ValueIndexAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="word-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:element minOccurs="0" ref="search:weight"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="word-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:TextIndexDef"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
        <xs:group ref="search:TextIndexMod"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:WordIndexAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="RangeQueryCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="value" type="xs:string"/>
      <xs:element minOccurs="0" ref="search:range-operator"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="range-operator">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="LT"/>
        <xs:enumeration value="LE"/>
        <xs:enumeration value="GT"/>
        <xs:enumeration value="GE"/>
        <xs:enumeration value="EQ"/>
        <xs:enumeration value="NE"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="range-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:group ref="search:RangeQueryCriteria"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:range-option"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="range-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:RangeIndexDef"/>
        <xs:group ref="search:RangeQueryCriteria"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:range-option"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:RangeIndexAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geospatial-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:constraint-name"/>
        <xs:group ref="search:RegionType"/>
        <xs:element ref="search:geo-option"/>
      </xs:choice>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeospatialQuery" abstract="true" substitutionGroup="search:QueryType"/>
  <xs:element name="geo-json-property-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoPropDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-elem-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoElemDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-json-property-pair-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoPropPairDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-elem-pair-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoElemPairDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-attr-pair-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoAttrPairDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="geo-path-query" substitutionGroup="search:GeospatialQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="search:GeoPathDef"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="search:RegionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="point">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:latitude"/>
        <xs:element ref="search:longitude"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="latitude" type="xs:float"/>
  <xs:element name="longitude" type="xs:float"/>
  <xs:element name="circle">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:radius"/>
        <xs:element ref="search:point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="radius" type="xs:float"/>
  <xs:element name="box">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:south"/>
        <xs:element ref="search:west"/>
        <xs:element ref="search:north"/>
        <xs:element ref="search:east"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="south" type="xs:float"/>
  <xs:element name="west" type="xs:float"/>
  <xs:element name="north" type="xs:float"/>
  <xs:element name="east" type="xs:float"/>
  <xs:element name="polygon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="RegionType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="search:point"/>
        <xs:element ref="search:circle"/>
        <xs:element ref="search:box"/>
        <xs:element ref="search:polygon"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="custom-constraint-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="search:constraint-name"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:text"/>
      </xs:sequence>
      <xs:attributeGroup ref="search:any-attribute"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="temporal-option" type="xs:string"/>
  <xs:element name="temporal-operator" type="xs:string"/>
  <xs:element name="period">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="period-start" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="period-end" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lsqt-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="temporal-collection" type="xs:string"/>
          <xs:element name="timestamp" minOccurs="0" type="xs:dateTime"/>
          <xs:element ref="search:weight" minOccurs="0"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:temporal-option"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="period-compare-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="axis1" type="xs:string"/>
        <xs:element ref="search:temporal-operator"/>
        <xs:element name="axis2" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:temporal-option"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="period-range-query" substitutionGroup="search:QueryType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="axis" type="xs:string"/>
        <xs:element ref="search:temporal-operator"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="search:period"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="search:temporal-option"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
